@* File: Views/Admin/AdminDashboard.cshtml *@
@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Admin Dashboard</h1>
    <p>Welcome, Administrator!</p>
    <hr />
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="list-group">
            <a asp-action="AdminCreateUser" asp-controller="Admin" class="list-group-item list-group-item-action">
                Create New User
            </a>
            <a asp-action="AdminAssignRole" asp-controller="Admin" class="list-group-item list-group-item-action">
                Assign Role & Create Account
            </a>
            @* Add other admin links here as needed *@
            <a asp-action="Logout" asp-controller="Account" class="list-group-item list-group-item-action list-group-item-danger mt-3">
                Logout
            </a>
        </div>
    </div>
</div>